# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.log

# Docker
*.dockerfile
docker-compose.yml
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.sts4-cache/

# Build/Distribution
build/
dist/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# STS
.apt_generated
.factorypath
.springBeans

